<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LOG" value="Nav2Inlog"/>
		<add key="FOLDER" value="C:\Navision\NavLogistica24"/>
		<add key="DELAY" value="60000"/>
		<add key="VERSION" value="280623-1"/>
		<add key="SERVER" value="192.168.0.9"/>
		<add key="SERVER2" value="192.168.0.2"/>
		<add key="USER" value="carlos"/>
		<add key="USER2" value="bindar"/>
		<add key="PASSWORD" value="CARLOS"/>
		<add key="PASSWORD2" value="bindar"/>
		<add key="DATABASE" value="PREVISAN500REAL"/>
		<add key="DATABASE2" value="VISAN500REAL"/>
		<add key="COMPANY" value="ARGANDA" />
		<add key="URL" value="http://192.168.20.202:8080/inlog_wms/services/"/>
	</appSettings>
</configuration>